{
    "extends": "airbnb/base",
    "parser": "babel-eslint",
    "rules": {
        "indent": [2, 4, {
            "SwitchCase": 1
        }],
        "new-cap": [2, {"properties": false}],
        "comma-dangle": [2, "never"],
        "max-len": [1, 160, 4], # 120?
        "object-curly-spacing": [2, "never"],
        "no-underscore-dangle": [2, { "allow": [ "_id"] }]
    }
}
