<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Secret Cow Level | Los Angeles.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' href='favicon.ico' />

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="/img/cow256.png" class="moo" alt="m00!" />

                <p>
                    <b>secret cow level.</b>
                </p>

                <p>
                    Web Project Framework using HapiJS.
                    <div class="well">
                        <code>
                            {{pjson}}
                        </code>
                    </div>
                </p>
            </div>
        </div>
    </div>
</body>

</html>
